<div class="block" data-id="{{id}}">
  <div class="block-type">
    {{#if hasOptions}}
      {{component typeComponent options=typeOptions changeAction=(action "typeChanged") selected=block.type}}
    {{else}}
      {{emptyText}}
    {{/if}}
  </div>
  {{#if hasType}}
    <div class="block-value">
      {{#if hasOptions}}
        {{component valueComponent options=valueOptions changeAction=(action "valueChanged") selected=block.value}}
      {{/if}}
    </div>
  {{/if}}
</div>
{{#if hasType (if hasValue true false)}}
  <div class="block-operator">
    {{component operatorComponent options=operatorOptions changeAction=(action "operatorChanged") selected=block.operator}}
   </div>
{{/if}}
{{#if hasDelete}}
  <div class="block-action">
    {{component deleteComponent delete=(action delete)}}
  </div>
{{/if}}
